ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.image-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    .image-list-item {
        max-width: 25%;
        min-width: 256px;
    }
}
