ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    background: #2B2A31;
}


.image-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .image-list-item {
        max-width: 512px;
        width: calc(33vw - 30px);
        min-width: 256px;
    }
}
